body{background-color:black;}
#wow1{color: cyan;
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;}
.text-container{background-color: cyan;
    display: flex;
    height: 0%;
    width: 100%;}
#het1{color: black;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: xx-large;}
#item1{border: black;
      background-image: linear-gradient(rgb(0, 119, 255), rgb(0, 255, 157));
      width: 50%;
      height:600px;
    margin: 8px;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;}
#item2{width: 50%;
    height:600pxpx;
    margin: 10px;
    font-size: x-large;
    background-image: url(soccer.jpg);
    background-repeat: no-repeat;
    background-size: cover;}
nav{background-color: cyan;}
nav li{list-style: none;
        display: inline-block;
        padding: 10px;}

#hat1{color: cyan;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
.text-container{background-color: cyan;
display: flex;
 height: 0%;
 width: 100%;}
 #hat2{color: black;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: xx-large;}
#hoi1{border: black;
background-image: linear-gradient(rgb(0, 119, 255), rgb(0, 255, 157));
width: 50%;
height:800px;
margin: 8px;
font-size: x-large;
font-family: Georgia, 'Times New Roman', Times, serif;}
#hoi2{width: 50%;
        height:800px;
        margin: 10px;
        font-size: x-large;
        background-image: url(Messi3.jpg);
         background-repeat: no-repeat;
        background-size: cover;}
nav{background-color: cyan;}
 nav li{list-style: none;
        display: inline-block;
        padding: 10px;}
